.page__hero--overlay {
  position: relative;
  height: auto;
  padding: 0 !important;

  background-size: cover !important;
  background-position: center center !important;
}

.page__hero--overlay .page__title {
  display: none;
}


/* ↓ scroll arrow */

.page__hero--overlay .scroll-down {
  position: absolute !important;

  display: block !important;

  left: 50% !important;
  bottom: 40px !important;

  width: 40px !important;
  height: 40px !important;

  transform: translateX(-50%) !important;

  z-index: 9999 !important;

  cursor: pointer;
}


.page__hero--overlay .scroll-down span {
  display: block !important;

  width: 20px !important;
  height: 20px !important;

  border-right: 4px solid #ffffff !important;
  border-bottom: 4px solid #ffffff !important;

  transform: rotate(45deg) !important;
}